* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

window#waybar {
    background: rgba(10, 10, 10, 0.9);
    color: #ffffff;
}

#custom-launcher {
    font-size: 18px;
    padding: 0 15px 0 12px;
    color: #ffffff; 
}

#workspaces button {
    padding: 0 12px;
    color: #555555; /* Dim for inactive */
}

#workspaces button.active {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid #ffffff;
}

#custom-weather {
    color: #94e2d5;
    padding: 0 10px;
}

#power-profiles-daemon {
    color: #f9e2af;
}

#clock, #cpu, #memory, #battery, #pulseaudio {
    padding: 0 10px;
}
