layer-rule {
    match namespace="^lothopaper$"
    place-within-backdrop true
}

layout {
    background-color "transparent"
}

animations {
}

hotkey-overlay {
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd

spawn-at-startup "/home/saturn/GitHub/lothopaper/zig-out/bin/lothopaper"
