layer-rule {
    match namespace="^awww"
    place-within-backdrop true
}

layout {
    background-color "transparent"
}


spawn-at-startup "awww-daemon"
spawn-at-startup "sh" "-c" "sleep 0.5 && awww img /home/saturn/Pictures/Wallpapers/saturnbg.png"
